spring:
  application:
    name: order-service

  main:
    allow-bean-definition-overriding: true

  datasource:
    url: ${DBMS_CONNECTION:jdbc:postgresql://localhost:5433/order_db}
    username: ${DBMS_USERNAME:postgres}
    password: ${DBMS_PASSWORD:14062003}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  liquibase:
    change-log: classpath:/db/changelog-master.xml

  doc:
    swagger-ui:
      path: /swagger-doc/order/swagger-ui.html
    api-docs:
      path: /swagger-doc/v3/api-docs/order

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:admin}
    password: ${RABBITMQ_PASSWORD:admin}

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_URI:http://localhost:8180/realms/IamService}

rabbitmq:
  exchange:
    order: order.exchange
    order-dlx: order.exchange.dlx
    product: product.exchange
    noti: noti.exchange
    cashback: cashback.exchange
  queue:
    order:
      update: order.queue.update
      dlq: order.queue.dlq
    noti: noti.queue.push
    cashback:
      earn: cashback.queue.earn
      use: cashback.queue.use
  routing:
    order:
      update: order.update
      dlk: product.dlk
    key:
      noti:
        push: noti.push
      product:
        update-variant: product.update-variant
      cashback:
        earn: cashback.earn
        use: cashback.use

server:
  port: ${SERVER_PORT:6666}

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

app:
  cart-service:
    url: ${CART_SERVICE_URL:http://localhost:8000}
  profile-service:
    url: ${PROFILE_SERVICE_URL:http://localhost:9999}
  shopinfo-service:
    url: ${SHOPINFO_SERVICE_URL:http://localhost:8222}
  payment-service:
    url: ${PAYMENT_SERVICE_URL:http://localhost:8008}

  ghn:
    url: ${GHN_URL:https://online-gateway.ghn.vn}
    token: ${GHN_TOKEN:b9f6edbb-2b60-11f0-a0cd-12f647571c0a}
    id: ${GHN_ID:5766264}