server:
  port: 8099

spring:
  application:
    name: cart-service
  datasource:
    url: jdbc:mysql://localhost:3306/enroll_db?useSSL=false&serverTimezone=UTC
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8766/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
app:
  services:
    product: http://localhost:8089

# Feign Configuration
feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000
        logger-level: basic

# Logging
logging:
  level:
    com.example.cart_service: DEBUG
    org.springframework.cloud.openfeign: DEBUG