# ==========================
# MySQL Database
# ==========================
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3307/iamdb?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: iamuser
    password: iampass
    driver-class-name: com.mysql.cj.jdbc.Driver

  application:
    name: identity-service

  # ==========================
  # JPA / Hibernate
  # ==========================
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  # ==========================
  # Redis
  # ==========================
  data:
    redis:
      host: 127.0.0.1
      port: 6379

  # ==========================
  # Kafka
  # ==========================
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

# ==========================
# Server
# ==========================
server:
  port: 8082

app:
  services:
    profile: http://localhost:8081

# ==========================
# JWT Config
# ==========================
jwt:
  signerKey: devteria-super-secret-key-123456
  valid-duration: 3600
  refreshable-duration: 604800

# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

# Feign Configuration
feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000
        logger-level: basic